// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo {
    width: 75px;
    margin: auto;
}
.logo img {
    width: 100%;
}
#noleggio {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
}

/*--- SIDEBAR ---*/
    #sidebar {
        padding-top:55px;
        width: 42px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow: hidden;
        z-index: 10;
        background: #3490dc;
        color: #fff;
        margin-left: 0px;
        transition: all 0.3s;
        &.active{
            width: 100px;
        }
    }
    .menu {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
    .menu li{
        line-height: 1.2;
        height: 40px;
        cursor: pointer;
        position: relative;
    }
    .menu a {
        color: #fff;
        width: 100%;
        display: inline-block;
        padding: 11px 14px;
        &:hover{
            color: #f0f8ff;
        }
        &.active{
            background-color: #80baea;
        }
    }
    .menu li span {
        position: absolute;
        left: 42px;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    @media (max-width: 768px) {
        #sidebar {
            width: 0px;
        }
        #content {
            padding-left: 0 !important;
        }
        #sidebar.active {
            width: 100px;
        }
        #content.active {
            padding-left: 100px !important;
        }
    }
    #sidebarCollapse {
        position: absolute;
        z-index: 21;
        left: 0;
        top: 10px;
        background-color: transparent;
        border-color: transparent;

    }
/*--- HEADER ---*/
    header {
        position: fixed;
        width: 100%;
        top:0;
        z-index: 20;
    }
/*--- CONTENT ---*/
    #content {
        position: relative;
        top: 56px;
        padding-left: 42px;
        overflow: auto;
        height: 88%;
        width: 100%;
        transition: all 0.3s;
        &.active{
            padding-left: 100px;
        }
    }
/*--- Breadcrumb ---*/
    .breadcrumb{
        padding:5px 0 5px 58px;
    }
/*--- FOOTER ---*/
    footer {
        position: absolute;
        height: 100px;
        bottom: 0;
        width: 100%;
        display: inline-table;
        background-color: #eee;
        &:hover{
            background:#aaa;
        }
    }
/*--- LOGIN ---*/
#login .form-group i {
    position: absolute;
    left: 27px;
    top: 12px;
    z-index: 3;
}
#login .form-group input {
    padding-left: 35px;
}

/*--- Search-field ---*/
.search-field{
    display: inline-block;
    position: relative;
}
/*--- LOAD --- */
.img-loader {
    width: 25px;
    height: 25px;
    display: none;
    position: absolute;
    right: 4px;
    top: 1px;
    &.active{
        display: inline-block;
    }
}
.img-loader img {
    width: 100%;
}

